#title {
    margin-bottom: 0rem;
}

#tagline{
    margin-bottom: 6rem;
}

main{
    margin-top: 3rem;
}

#post{
    border-style: solid;
    border-width: 1pt;
    border-color: lightgrey;
    box-shadow: 10px 10px 5px gray;
}

#review{
    padding-left: 1rem;
    text-shadow: 4px 4px lightgrey;
}